/*------------------------------------ STORMFREE STYLING --------------------------------------*/

/* nunito-sans-regular - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../icons/fonts/nunito-sans-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans Regular'), local('NunitoSans-Regular'),
       url('../icons/fonts/nunito-sans-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../icons/fonts/nunito-sans-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../icons/fonts/nunito-sans-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../icons/fonts/nunito-sans-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../icons/fonts/nunito-sans-v4-latin-regular.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-600 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../icons/fonts/nunito-sans-v4-latin-600.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans SemiBold'), local('NunitoSans-SemiBold'),
       url('../icons/fonts/nunito-sans-v4-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../icons/fonts/nunito-sans-v4-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('../icons/fonts/nunito-sans-v4-latin-600.woff') format('woff'), /* Modern Browsers */
       url('../icons/fonts/nunito-sans-v4-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../icons/fonts/nunito-sans-v4-latin-600.svg#NunitoSans') format('svg'); /* Legacy iOS */
}
/* nunito-sans-700 - latin */
@font-face {
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../icons/fonts/nunito-sans-v4-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Nunito Sans Bold'), local('NunitoSans-Bold'),
       url('../icons/fonts/nunito-sans-v4-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../icons/fonts/nunito-sans-v4-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../icons/fonts/nunito-sans-v4-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../icons/fonts/nunito-sans-v4-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../icons/fonts/nunito-sans-v4-latin-700.svg#NunitoSans') format('svg'); /* Legacy iOS */
}

body { font-family: "Nunito Sans", Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 15px; color: #2A2A2A; font-weight: 400; }
button, input, select, textarea { font-family: "Nunito Sans", Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 15px; }
.uneditable-input, input[type=color], input[type=date], input[type=datetime-local], input[type=datetime], input[type=email], input[type=month], input[type=number], input[type=password], input[type=search], input[type=tel], input[type=text], input[type=time], input[type=url], input[type=week], select, textarea { font-size: 1rem; }
code, pre { font-family: "Nunito Sans", Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 1rem; }

#tab_bar_underpadding, body { background-color: #eaecee; }
#add-server-tooltip, .server-tooltip { background-color: #454545; }

/*---------- HEADER -----------------*/
.header { padding-bottom: 0; height: 50px; }
#top_navbar { border: none; }
nav .column-left { text-align: left; background: #2a2a2a; height: 51px; padding-left: 10px; width: 240px; max-width: 240px; }
nav .column-left .nav-logo { height: 37px; }
#searchbox_legacy, #tab_bar, #searchbox_legacy .navbar-search, #searchbox_legacy #search_query, #tab_list, #tab_list li { height: 50px; line-height: 28px; font-family: "Nunito Sans", Helvetica Neue, Helvetica, Arial, sans-serif; }
#tab_list { line-height: 50px; }
#searchbox_legacy .search_button, #searchbox_legacy .search_button[disabled]:hover { top: 10px; }
#searchbox_legacy .input-append .fa-search { top: 14px; }
.navbar-search .search-query { font-family: "Nunito Sans", Helvetica Neue, Helvetica, Arial, sans-serif; font-size: 15px; }
.search_closed { height: 50px; }
.search_closed .fa-search { top: 15px; }
.search_closed { border-right: none; }
.column-middle-inner { border-bottom: 1px solid #DADADA; }
.column-right { height: 50px; border-bottom: 1px solid #DADADA; }
#navbar-buttons ul.nav .dropdown-toggle, #navbar-buttons ul.nav li.active .dropdown-toggle { opacity: 1; top: 8px; }
#tab_bar #tab_list li { font-weight: 400; background-color: transparent; position: relative; }
#tab_bar #tab_list li.narrow_description, #tab_bar #tab_list li.sub_count { padding: 0 10px; line-height: 50px; color: #636363; }
#tab_bar #tab_list li.stream { padding: 0 10px 0 10px; line-height: 50px; }
#tab_bar #tab_list li.stream:before { content: "#"; font-size: 21px; height: auto; width: auto; display: inline-block; float: left; position: relative; top: 0; left: 0; font-family: "Tahoma", Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 600; line-height: 50px; margin-right: 3px; }
#tab_bar #tab_list li.stream.inactive > a { padding: 0 5px 0 0; }
#tab_bar #tab_list li.sub_count:before, #tab_bar #tab_list li.sub_count:after { background: #eaecee; top: 15%; height: 70%; }
#tab_bar #tab_list li .hash { display: inline-block; font-size: 1.2rem; font-weight: 600; font-family: Tahoma; top: 2px; }

#tab_bar #tab_list li.active { line-height: 50px; background-color: transparent; font-weight: 600; }
#tab_bar #tab_list li.active:after { content: ""; display: inline-block; position: absolute; top: 10px; right: 0; background: #eaecee; width: 1px; height: 30px; line-height: 50px; }
#tab_bar #tab_list li:first-child { color: #2A2A2A; padding: 0 11px; }
#tab_bar #tab_list li.private_message a { color: #2A2A2A; }
#tab_bar #tab_list li.inactive.private_message { line-height: 50px; display: inline-block; background-color: transparent; }
#tab_bar #tab_list li + li { padding: 0 10px 0 5px; }
#tab_bar #tab_list li + li.active { margin-left: -10px; }
#tab_bar #tab_list li + li.active:before { content: ""; position: relative; left: -5px; top: -1px; border: solid #c1c1c1; border-width: 0 2px 2px 0; display: inline-block; padding: 3px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }
#tab_bar #tab_list li.inactive { font-size: 15px; }
#tab_list .dark_background, #tab_list .dark_background a, #tab_list .dark_background a:hover, #tab_list a.dark_background:hover { color: inherit; }
.dark_background, .dark_background a, .dark_background a:hover, a.dark_background:hover { color: inherit; }
#userlist-toggle { border-left: none; }
#userlist-toggle-button { padding-top: 15px; padding-bottom: 15px; background-color: transparent; color: #333333; }
#streamlist-toggle { border: none; }
#streamlist-toggle-button { padding-top: 15px; padding-bottom: 15px; background-color: transparent; color: #333333; }

/*---------- LEFT SIDEBAR ----------------*/
.column-left { z-index: 100!important; }
.toggle-sidebar { background: #222222; }
.tab.active .server-tab { background-color: #014E8E; }

#left-sidebar { min-height: 100vh; background: #2a2a2a; font-size: 1rem; width: 250px; min-width: 250px; padding-top: 15px; margin-top: 40px; }
#global_filters { border-bottom: 1px solid #454545; padding-bottom: 16px; }
#global_filters .global-filter, #stream_filters .subscription_block .stream-name { color: #d2d2d2; }
#stream_filters .subscription_block .stream-name { top: -2px; }
li.active-filter, li.active-sub-filter { background: #3E3E3E; border-radius: 0; color: #fff; }
#global_filters > li { padding: 5px 10px; margin: 2px 7px; font-size: 15px; }
#global_filters > li a { color: #d2d2d2; }
#global_filters > li.active-filter .private_messages_header a { color: #fff; font-weight: 700; }
.app-main .column-left .left-sidebar { margin-top: 40px; }
.left-sidebar li { border-radius: 6px; }
.left-sidebar .top_left_row { padding-left: 0px; padding-right: 0px; }
#global_filters li:hover, #stream_filters li.highlighted_stream:hover, #stream_filters li:hover { background: #3E3E3E!important; border-radius: 6px; }
#stream_filters li ul.topic-list li { padding: 0; }
#global_filters > li i { color: #d2d2d2; opacity: 1; font-size: 15px; }
#global_filters > li.active-filter i { color: #fff; }
#global_filters .filter-icon { margin-right: 5px; }
#global_filters li.global-filter.active-filter { background: #454545; border-radius: 6px; }
#global_filters li.global-filter.active-filter a, #global_filters li.global-filter.active-filter i { color: #ffffff; font-weight: 600; }
#global_filters .global-filter .stream-sidebar-arrow i { color: #A0A4A7; }
.stream-sidebar-arrow i { text-align: center; }
.stream-sidebar-arrow i:hover { color: #fff; }
#global_filters .global-filter .arrow i { font-size: inherit; padding: 7px 0; }
#global_filters .count { margin-right: 15px; }
#global_filters > li a.conversation-partners { padding-left: 5px; font-size: 15px; }
#global_filters li.active-sub-filter a.conversation-partners { font-weight: 700; color: #fff; }
.narrows_panel li { margin: 2px 0; }
#stream_filters li.highlighted_stream, .bottom_left_row:hover, .top_left_row:hover { background-color: transparent; }
#stream_filters .count, .private_message_count, .top_left_all_messages .count, .top_left_mentions .count, .top_left_private_messages .count, .top_left_starred_messages .count, .topic-unread-count { border-radius: 8px; text-align: center; }
#streams_header { padding: 0 0 8px 16px; }
.stream_list_toggle { margin-left: -12px; margin-right: 5px; }
.stream_list_toggle i { color: #d2d2d2; opacity: 1; font-size: 15px; }
.sidebar-title, .stream_sidebar_title { font-weight: 600; color: #d2d2d2; font-size: 0.95rem; }
#stream_filters li { margin-left: 8px; margin-right: 6px; padding: 2px 0; font-size: 15px; }
#stream_filters .subscription_block { margin: 0; padding: 2px 0 2px 6px; }
.hashtag:empty:after { display: inline-block; font-size: 1.2rem; font-weight: 600; font-family: Tahoma; }
.stream-privacy { min-width: 25px; }
.stream-privacy .hashtag { margin-right: 4px; }
.topic-name { padding: 5px 0px 5px 20px; }
.all-messages-arrow, .starred-messages-sidebar-arrow, .stream-sidebar-arrow { top: 3px; right: 3px; font-size: 1em; }
#global_filters li span.arrow i { font-size: 13px; position: relative; top: 1px; right: 3px; }
.topic-sidebar-arrow { font-size: 1em; }
.topic-sidebar-arrow i { padding-right: 0; text-align: center; }
.topic-sidebar-arrow i:hover { color: #fff; }
ul.filters a { color: #d2d2d2; }
ul.filters a:hover { color: #0796ED; }
ul.filters li .arrow { padding-right: 0; }
ul.filters .arrow, ul.filters .topic-sidebar-arrow { top: 3px; right: 1px ; }
ul.filters li:hover .arrow { color: #d2d2d2; }
#stream_filters .count, .private_message_count, .top_left_all_messages .count, .top_left_mentions .count, .top_left_private_messages .count, .topic-unread-count { background-color: #636363 }
#stream_filters .count { margin-right: 23px; }
#streams_filter_icon, #streams_inline_cog { opacity: 1; color: #d2d2d2; }
#stream_filters li ul.topic-list li.show-more-topics { padding-left: 20px; }
li.show-more-topics a { font-size: 100%; }
#stream_filters .active-filter .subscription_block a, #stream_filters li.active-sub-filter .topic-box a { color: #fff; }
.topic-box { margin-right: 16px; }
.input-append input[type="text"].stream-list-filter { background-color: transparent; color: #fff; border-radius: 0; border-left: none; border-top: none; border-right: none; border-bottom: 1px solid #7e827d; }
.left-sidebar .ps__rail-y { background-color: #222222; }
#add-stream-link { margin-left: 17px; }
.pm-box .user_circle { min-width: 10px; height: 10px; }

/*---------- CONTENT ----------------*/

#tab_list li { padding: 0 10px; }
.message_area_padder { background: #EAECEE; padding: 15px; margin-top: 51px; min-height: 91vh; }
.message_list .recipient_row { background: #fff; border-radius: 6px; border: none; }
.message_header { border-bottom: 1px solid #EAECEE; line-height: 38px; overflow: visible; }
.message-header-contents { background-color: #fff; border: none; border-radius: 6px 6px 0 0; }
.floating_recipient .message-header-contents { border-radius: 0 0 6px 6px; }
.stream_label { line-height: 28px; height: 28px; font-size: 15px; }
.stream_label:before, .stream_label:after { display: none; }
.stream_topic { font-size: 15px; }
.message_header .stream_topic { padding-left: 0; }
.message_header .stream_topic:before { content: ""; position: relative; left: 0; top: -1px; border: solid #c1c1c1; border-width: 0 2px 2px 0; display: inline-block; padding: 3px; transform: rotate(-45deg); -webkit-transform: rotate(-45deg); }
.message_header_stream a.message_label_clickable { padding: 5px 5px 5px 10px; background-color: transparent; border: none; }
.message_header_stream a.message_label_clickable span { color: #2A2A2A; }
.message_header_stream a.stream_label:before { content: "#"; font-size: 18px; height: auto; width: auto; display: inline-block; float: left; position: relative; top: 0; left: 0; font-family: Tahoma, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 600; line-height: 28px; margin: 0 3px 0 0; border: none; }
.message_label_clickable.narrows_by_subject { font-weight: bold; }
a.message_label_clickable.narrows_by_topic { padding-left: 5px; }
a.message_label_clickable:hover, .message_header_stream a.message_label_clickable:hover { color: #0796ED; text-decoration: none; }
.on_hover_topic_edit, .on_hover_topic_mute { opacity: 0.5; }
.on_hover_topic_edit:hover, .on_hover_topic_mute:hover { opacity: 1; color: #0384D2; }
#floating_recipient_bar { margin-top: -10px; }
.floating_recipient .message-header-contents { box-shadow: 0 2px 5px 0px #c1c1c1; border-radius: 0 0 5px 5px; }
.recipient_bar_content { background-color: transparent; }
.column-middle.column-overlay.recipient-bar-main { padding-left: 0; padding-right: 0; background: transparent; margin-left: 282px!important; margin-right: 265px; }
div.focused_table { font-size: 15px; }
.recipient_row_date { line-height: 32px; }
.on_hover_topic_edit:hover, .on_hover_topic_mute:hover { color: rgba(7, 150, 237, 1); opacity: 1; }
.message_time { color: #c1c1c1; font-size: 14px; opacity: 1; }
.message_controls { right: -20px; }
.recipient_row_date { font-size: 14px; font-weight: 400; color: #2A2A2A; }

.message_content { font-size: 1rem; line-height: 1.2rem; margin-left: 53px; padding-bottom: 7px; color: #222222; }
.message_header_private_message .message_label_clickable { background-color: transparent; padding: 3px 11px 2px; font-weight: 600; }
.private-message .date_row, .private-message .messagebox { background-color: transparent; }
.include-sender .message_content:not(:empty) { margin-top: -25px; }
.messagebox { box-shadow: none!important; }
.message_row { border: none; }
.sender_name { font-weight: bold; font-size: 1rem; }
.inline_profile_picture { height: 40px; width: 40px; }
.message_content code { display: block; border-radius: 6px; padding: 8px; background: #EAECEE; border: none; font-family: "Nunito Sans", Helvetica Neue, Helvetica, Arial, sans-serif; }
.on_hover_topic_edit, .on_hover_topic_mute { opacity: 0.4; }
.selected_message .messagebox-content { box-shadow: inset 0 0 0 2px #0796ED; }
.message_row .date_row { box-shadow: none; }
.user-group-mention, .user-mention { background: #DEEDF5; box-shadow: none; border-radius: 4px; color: #157BB9; padding: 2px 5px; }
.unread-marker-fill { background-color: #0796ED; height: 8px; width: 8px; position: relative; top: 37%; left: -14px; opacity: 0.6; border-radius: 50%; }

.user_idle .user-status-indicator { background: #FFC000; border-color: #FFC000; }

.new-style .button { border: 1px solid #c1c1c1; }
.new-style .button.small { font-size: 1rem; }
#preview-stream-button { line-height: inherit; }
#compose-container { background: #EAECEE; max-width: 1383px; }
.compose-content { box-shadow: 0 0 15px 0px #d2d2d2; background: #fff; margin-left: 247px; margin-right: 264px; border-radius: 6px 6px 0 0; }
#below-compose-content { height: 35px; }
#send_controls .compose_checkbox_label { position: relative; top: 1px; }
#send_message_form .messagebox { overflow: hidden; }
#send_controls { height: 2.6em; }
#send_controls #compose-send-button { border-radius: 6px; padding: 5px 25px; background: #0384D2; border-color: #0384D2; font-size: 1rem; line-height: 18px; }
#compose { background-color: #fff; }
#compose_buttons .button.small { padding: 5px 25px; border-radius: 4px; font-size: 15px; font-family: "Nunito Sans", Helvetica Neue, Helvetica, Arial, sans-serif; background: #EAECEE; border: none; font-weight: 600; }
#compose_buttons .button.small:hover { background-color: #157BB9; color: #fff; }
#compose a.message-control-button, a#markdown_preview, a#undo_markdown_preview { font-size: 22px; width: 22px; height: 22px; margin-right: 15px; opacity: 0.8; color: #333333; }
#compose a.message-control-button:hover { color: #0796ED; }
#send_controls .compose_checkbox_label { color: #2A2A2A; }
.compose_table .drafts-link { top: 7px; font-size: 15px; margin-left: 10px; }
#send_controls .compose_checkbox_label { font-size: 14px; line-height: 35px; }
.compose_table .message_header_colorblock, .compose_table .message_header_colorblock.message_header_private_message { border-radius: 0; }
.compose_table .message_header, .compose_table .message_header_colorblock { box-shadow: none; }
.compose_table .recipient_box, textarea.new_message_textarea, .preview_message_area { border-radius: 0; border-bottom: 1px solid #C7C7C7; border-left: none; border-right: none; border-top: none; padding: 7px; background-color: transparent; }
textarea.new_message_textarea { width: calc(100% - 18px); }
.date_row span, .sub-unsub-message span { text-transform: none; }
.date_row span:after, .date_row span:before, .sub-unsub-message span:after, .sub-unsub-message span:before, .date_row .date-line { border-bottom: none; border-top: 1px solid #d2d2d2; }
#compose_close { color: #333333; font-size: 26px; opacity: 1; }
input[type="text"], textarea, .input-append input[type=text], .new-style input[type=text] { border-radius: 0; }
.message_header_colorblock { width: auto; background-color: transparent; border-bottom: 1px solid rgba(0,0,0,.2); }
.compose_table .message_header_colorblock:before { content: "#"; font-size: 18px; height: auto; width: auto; display: inline-block; float: left; position: relative; top: 0; left: 0; font-family: Tahoma, Helvetica Neue, Helvetica, Arial, sans-serif; font-weight: 600; line-height: 28px; margin: 0; border: none; }
#stream_message_recipient_stream.recipient_box { padding-left: 4px; width: auto; min-width: 180px; }
#stream_message_recipient_topic.recipient_box { font-weight: 600; max-width: 220px; min-width: 180px; }
.compose_table .right_part .fa-angle-right { font-size: 1.2em; text-stroke: initial; -webkit-text-stroke: initial; color: #c1c1c1; }
.compose_table #compose-lock-icon { left: -2px; top: -8px; }
#compose-lock-icon i.fa.fa-lock { font-size: 10px; }
.compose_table .recipient_box:focus, textarea.new_message_textarea:focus { border-top: none; border-left: none; border-right: none; }

/*------------------ RIGHT SIDEBAR --------------------*/

.app-main .column-right .right-sidebar { padding-top: 20px; background: #fff; height: 100%; width: 240px; z-index: 100!important; }
.right-sidebar { font-size: 1rem; }
#group-pms li, #user_presences li { font-size: 1rem; padding: 5px 0; }
.group-pm-status-indicator, .user-status-indicator { top: 9px; }
#group-pms .user_circle_fraction, #user_presences .user_circle { height: 10px; width: 10px; top: 3px; }
.right-sidebar ul.filters a { color: #2A2A2A; }
.right-sidebar .sidebar-title { color: #2A2A2A; }
#group-pm-header, #userlist-header { margin-bottom: 10px; }
#invite-user-link { margin-top: 10px; display: block; }
#invite-user-link i { font-size: 1.4rem; position: relative; top: 2px; }
.user_circle_orange { background: #F5AB30; border-color: #F5AB30; }
.user_circle_green { background: #2FD031; border-color: #2FD031; }
#group-pms li:hover, #user_presences li.highlighted_user, #user_presences li:hover { background-color: #eaecee; }
.input-append input[type=text], .new-style input[type=text] { border-top: none; border-left: none; border-right: none; border-radius: 0; }
#user_presences .user-list-arrow { top: 5px; right: 5px; }
.new-style label.checkbox input[type=checkbox]~span { border-radius: 0; }
.user_status_overlay .user-status-options .user-status-value { border: none; }

/*------------------- DIALOG SCREENS ----------------------*/

.ps--active-x>.ps__rail-x, .ps--active-y>.ps__rail-y { background-color: transparent; }
.subscriptions-container .exit { color: #2A2A2A; top: 8px; }
#settings_page .sidebar, #sidebar { background-color: #2a2a2a; }
#settings_page .sidebar li { border-bottom: 1px solid #333333; }
#settings_page .sidebar li .icon { color: #ffffff; }
#settings_page .sidebar li .text { width: calc(100% - 93px); color: #fff; }
#settings_page .sidebar .tab-container { border-bottom: 1px solid #333333; }
#settings_page .sidebar .tab-switcher .ind-tab.selected { background-color: rgba(7, 150, 237, 1); border-color: rgba(7, 150, 237, 1); }
#settings_page .sidebar .tab-switcher .ind-tab:not(.selected) { background-color: transparent; border: 1px solid rgba(7, 150, 237, 1); color: #a1a1a1; }
#settings_page .sidebar li.active { background-color: #454545; }
#settings_page .custom_user_field textarea, #settings_page select { border-top: none; border-left: none; border-right: none; border-radius: 0; }
#account-settings .custom_user_field .field_hint, #user-info-form-modal .custom_user_field .field_hint { margin-top: 5px; }
#account-settings #show_my_user_profile_modal, #user-info-form-modal #show_my_user_profile_modal { width: auto; }
#user-profile-modal #avatar { border: none; }
.rendered_markdown ul { margin: 2px 0 10px 0px; }
.uneditable-input:focus, input[type=color]:focus, input[type=date]:focus, input[type=datetime-local]:focus, input[type=datetime]:focus, input[type=email]:focus, input[type=month]:focus, input[type=number]:focus, input[type=password]:focus, input[type=search]:focus, input[type=tel]:focus, input[type=text]:focus, input[type=time]:focus, input[type=url]:focus, input[type=week]:focus, textarea:focus { box-shadow: none!important; border-left: none!important; border-right: none!important; border-top: none!important; }
textarea#invitee_emails, select#invite_as { border-left: none; border-right: none; border-top: none; }
#invite-user .overlay-content { width: 700px; }
#invite-user .modal-body { margin-bottom: 66px; }

#content { font-family: "Nunito Sans", Helvetica Neue, Helvetica, Arial, sans-serif; }
#settings-header { color: #fff; }
#sidebar #nav-container .nav { color: #d2d2d2; }
#sidebar #nav-container .nav.active { color: #fff; font-weight: 600; }
#sidebar #nav-container .nav.active::before { background: #0796ED; }
.settings-card { border-radius: 6px; }
.settings-card:hover { box-shadow: none; }
input.toggle-round:checked+label:before { background-color: #157BB9; }
input.toggle-round:checked:hover + label:before { background-color: #0796ED; }
.setting-row .green, .settings-card .green { background-color: #157BB9; }
.setting-row .green:hover, .settings-card .green:hover { background-color: #0796ED; }
.setting-input-value:focus { border-color: #0796ED; }
.settings-card table tr:nth-child(even) { background-color: #fff; }

/*---------------------- DARK MODE ------------------------*/
body.night-mode { color:#fff; background: #222222; }
body.night-mode .column-left { border-right: 1px solid #222222; }
body.night-mode #searchbox_legacy #search_query { background-color: rgba(42, 42, 42, 1); }
body.night-mode #userlist-toggle-button { color: #ffffff; }
body.night-mode .left-sidebar li { border-radius: 4px; }
body.night-mode #tab_bar #tab_list li {  }
body.night-mode #tab_bar #tab_list li:first-child { color: #fff; }
body.night-mode #tab_bar #tab_list li.private_message a { color: #fff; }
body.night-mode #tab_bar #tab_list li.active { background-color: transparent; }
body.night-mode #tab_bar #tab_list li.active:after { background: #454545; }
body.night-mode .top_left_row:hover { background-color: transparent!important; }
body.night-mode .bottom_left_row:hover { background-color: transparent!important; }
body.night-mode li.active-filter, body.night-mode li.active-sub-filter { background-color: #3e3e3e; }
body.night-mode #tab_bar #tab_list li.narrow_description, body.night-mode #tab_bar #tab_list li.sub_count { color: #a1a1a1; }
body.night-mode #tab_bar #tab_list li.sub_count:before, body.night-mode #tab_bar #tab_list li.sub_count:after { background: #454545; }
body.night-mode #message_edit_tooltip, body.night-mode #searchbox .search_button, body.night-mode #searchbox .search_icon, body.night-mode #searchbox_legacy .search_button, body.night-mode #searchbox_legacy .search_icon, body.night-mode #stream_filters li:hover .stream-sidebar-arrow, body.night-mode #user-groups .save-instructions, body.night-mode #user_presences li:hover .user-list-arrow, body.night-mode .clear_search_button, body.night-mode .clear_search_button:active, body.night-mode body.night-mode .clear_search_button:focus, body.night-mode .clear_search_button[disabled]:hover, body.night-mode .close, body.night-mode li.top_left_all_messages:hover .all-messages-arrow, body.night-mode li.top_left_starred_messages:hover .starred-messages-sidebar-arrow, body.night-mode li.topic-list-item:hover .topic-sidebar-arrow { color: #878787!important; }
body.night-mode #compose, body.night-mode #settings_page .form-sidebar, body.night-mode #settings_page .right, body.night-mode #subscription_overlay .right, body.night-mode #tab_bar_underpadding, body.night-mode .app-main, body.night-mode .column-left .left-sidebar, body.night-mode .column-middle, body.night-mode .column-right .right-sidebar, body.night-mode .floating_recipient .message-header-wrapper, body.night-mode .header-main { background-color: #222222; }
body.night-mode .message_area_padder { background-color: #222222; }
body.night-mode .floating_recipient .message-header-contents { box-shadow: 0 2px 5px 2px #222222; }
body.night-mode a.message_label_clickable.narrows_by_topic:hover, body.night-mode .stream_label.dark_background:hover, body.night-mode .message_header_stream a.stream_label.message_label_clickable:hover { color: #0796ED; text-decoration: none;}
body.night-mode .column-middle, body.night-mode #searchbox_legacy, body.night-mode .header-main { background-color: rgba(42, 42, 42, 1); }
body.night-mode .column-middle-inner, body.night-mode .message_header, body.night-mode .column-right { border-bottom: 1px solid #454545; }
body.night-mode .message_list .recipient_row { background-color: #333333; }
body.night-mode .message-header-contents { background-color: #333333; }
body.night-mode .message_header_stream a.message_label_clickable span { color: #fff; }
body.night-mode .message_content { color: #d2d2d2; }
body.night-mode .date_row .date-line { opacity: 0.2; }
body.night-mode input[type=text] { background-color: transparent; }
body.night-mode .message_content code { background: #222222; }
body.night-mode .recipient_row_date { color: #fff; }
body.night-mode #compose-container { background-color: #222222; }
body.night-mode .compose-content { background: #2a2a2a; box-shadow: 0 -2px 5px 2px #222222; }
body.night-mode .new-style .button:not(.save-status), body.night-mode .new-style .button[disabled=disabled]:hover, body.night-mode .new-style .tab-switcher .ind-tab:not(.selected), body.night-mode .pill-container, body.night-mode input[type=date], body.night-mode input[type=email], body.night-mode input[type=number], body.night-mode input[type=password], body.night-mode input[type=text], body.night-mode input[type=url], body.night-mode select, body.night-mode textarea { background-color: transparent; }
body.night-mode input[type=date], body.night-mode input[type=email], body.night-mode input[type=number], body.night-mode input[type=password], body.night-mode input[type=text], body.night-mode input[type=url], body.night-mode select, body.night-mode textarea { border-color: #909090; background-color: transparent; }
body.night-mode .user-group-mention, body.night-mode .user-mention { background-color: #014E76; color: #fff; padding: 2px 5px; box-shadow: none; }
body.night-mode .new-style .button:not(.save-status), body.night-mode .new-style .button[disabled=disabled]:hover, body.night-mode .new-style .tab-switcher .ind-tab:not(.selected), body.night-mode .pill-container { background: #454545; border: none; }
body.night-mode .new-style .button:hover { background: #0796ED; }
body.night-mode #feedback_container, body.night-mode .rendered_markdown code, body.night-mode .typeahead.dropdown-menu { background-color: #333333; }
body.night-mode .message_reactions .message_reaction, body.night-mode .message_reactions:hover .message_reaction+.reaction_button { background-color: #2a2a2a; border: none; }
body.night-mode #compose a.message-control-button { color: #c1c1c1; }
body.night-mode #compose a.message-control-button:hover { color: #0796ED; }
body.night-mode #compose_close { color: #fff; text-shadow: none; }
body.night-mode #compose_buttons .button.small { background-color: #454545; }
body.night-mode #compose_buttons .button.small:hover { background-color: #157BB9; }
body.night-mode .message_header_colorblock { border-color: #909090; }
body.night-mode #send_controls .compose_checkbox_label { color: #fff; }
body.night-mode textarea.new_message_textarea:focus, body.night-mode textarea:focus, body.night-mode .compose_table .recipient_box:focus { border-color: #909090; }

body.night-mode .column-right .right-sidebar { background-color: #2a2a2a; }
body.night-mode .right-sidebar .sidebar-title { color: #d2d2d2; opacity: 1; }
body.night-mode .right-sidebar ul.filters a { color: #d2d2d2; }
body.night-mode #group-pms li:hover, body.night-mode #user_presences li.highlighted_user, body.night-mode #user_presences li:hover { background: #454545; }

body.night-mode .subscriptions-header { background-color: #222222; }
body.night-mode .subscriptions-container .left { background-color: #2a2a2a; }
body.night-mode .subscriptions-container .exit { color: #ffffff; top: 8px; }
body.night-mode .ps__rail-y { background-color: #222222; }

body.night-mode .dropdown .dropdown-menu, body.night-mode .popover, body.night-mode .popover-content, body.night-mode .popover-title { background: #222222; }
body.night-mode .dropdown .dropdown-menu li.divider, body.night-mode .popover hr, body.night-mode hr { background-color: #333333; border: none; opacity: 1; }
body.night-mode .modal-bg { background: #2a2a2a; }
body.night-mode #user-profile-modal #exit-sign { text-shadow: none; color: #fff; }
body.night-mode select option { background-color: #2a2a2a; }
body.night-mode .nav-tabs { border-bottom: 1px solid #454545; }
body.night-mode #bots_lists_navbar .active a { border-color: #157BB9; background-color: #157BB9; }
body.night-mode .new-style .button:not(.save-status) { color: #fff; }
body.night-mode .table-striped tbody tr:nth-child(odd) td { background-color: #2a2a2a; }
body.night-mode #invite-user .modal-header { border-color: #222222; }
body.night-mode .modal-footer { box-shadow: none; border-top: 1px solid #222222; }

/*--------------------------- MAKING IT FULL SCREEN WIDTH -----------------------------*/
.app-main, .header-main, #compose-container { max-width: 100%!important;}

@media (min-width: 1416px) {
  .compose-content { margin-left: 259px!important; margin-right: 275px!important; }
}

/*--------------------------------- MEDIA QUERIES -------------------------------*/

@media (max-width: 1415px) {
  .compose-content { margin-left: 259px!important; margin-right: 275px!important; }
}

@media (max-width: 1165px) {
  .column-middle { margin-right: 0!important; }
  .column-middle.column-overlay.recipient-bar-main { margin-right: 22px!important; }
  .column-right.expanded .right-sidebar { margin-top:50px!important; }
  .column-left { z-index: 100!important; }
  .compose-content { margin-left: 255px!important; }

}

@media (max-width: 775px) {
  .app-main .column-middle, .column-middle { margin-left: 0!important; }
  .compose-content { margin-left: 10px!important; }
  .column-middle.column-overlay.recipient-bar-main { margin-left: 32px!important; margin-right: 15px!important; }
}
